@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
  scroll-behavior: smooth !important;
}


input {       
        border: 1px solid #D0D0CC;
        outline: none;
        border-radius: 8px;
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #131200 !important;
        height: 48px;
      }
input.email{       
        border: 1px solid #D0D0CC;
        outline: none;
        border-radius: 8px;
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #131200 !important;
        height: 48px;
      }
textarea.message{       
        border: 1px solid #D0D0CC;
        outline: none;
        border-radius: 8px;
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #131200 !important;
        height: 135px;
      }

  
      .swiper-backface-hidden .swiper-slide {
        display: flex;
        justify-content: center;
      }
.swiper-pagination {
  position: unset !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  opacity: 0.23 !important;
  background: #A854E9 !important;
}

.swiper-pagination-bullet-active {
  width: 28px !important;
  height: 8px !important;
  opacity: 1 !important;
  background: #A854E9 !important;
  border-radius: 22px !important;
}

.swiper-slide-active div {
  position: relative !important;
  border-color: #A854E9 !important;
}

.swiper-slide-active div::after {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute !important;
  background-color: #A854E9;
  left: 0;
  bottom: 0;
} 
.swiper-pagination{
  margin-top: 20px !important;
  margin-bottom: 31px;
} 
input.mail{
font-size: 16px !important;
font-weight: 600 !important;
line-height: 24px !important;
color: white !important;  
}
input.placeholder{
font-size: 16px !important;
font-weight: 600 !important;
line-height: 24px !important;
color: white !important;  
}
  
input.submit{
  color: #FDFDFE !important;
  border: unset !important;
  border-radius: 4px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  
}

@media (max-width:992px) {
  .overflow {
      overflow: hidden;
  }
}